@import 'styles';


////////////////////////////////////////

body {
  background-color: #f7f7f7;
  margin: 80px;
}

.ee-emergency-center {
  margin: 60px 80px 0;
}

// Background image 'styles' for News content. This will be different for "Events" and "Action Required." //
// These attributes take the image in the story, scale it up in the background, center it, blur and saturate //
.news-web-background-image-twox {
  //height: 1136px;
  //overflow: hidden;
  //position: absolute;
  //top: 0;
  //width: 640px;
  //z-index: -1;

  display: none;
}

.news-background-image-twox img {
  height: 1136px;
  width: auto;
  filter: saturate(200%) blur(40px);
  -webkit-filter: saturate(200%) blur(40px); /* Chrome, Safari, Opera */
}

//////////// Type Styles /////////////

h2.web-title-white {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  width: 400px;
}

h3.web-author {
  font-size: 14px;
  font-weight: 300;
  margin: 8px 0 0;
}


//////////////////////////////////////

.stack-image {
  width: 500px;
  position: relative;
  top: -20px;
}

.new-stack {
  background: #FFFFFF;
  border-radius: 6px;
  height: 148px;
  width: 500px;
  display: table;
  margin-bottom: 8px;
}

.web-emergency-container {
  border-radius: 6px;
  width: 500px;
  z-index: 200;
}

.web-emergency-container {
  @include emergency-gradient (emergency-grad);
}

.web-toggle-target {
  height: 92px;
  position: absolute;
  width: 100%;
  margin: -28px;
  z-index: 100;
}

.web-emergency-title-container {
  border: 0px solid transparent;
  position: relative;
  //overflow: auto;
  //margin: 14px 14px 0 14px;
}

.web-emergency-time {
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 8px;
}

.web-emergency-date {
  margin-top: 60px;
  font-size: 10px;
}

img#button-gradient {
  width: 500px;
  position: absolute;
}

button {
  background-color: #FFFFFF;
  border: none;
  width: 50%;
  float: left;
  height: 44px;
  outline: none;
}

button.dismiss-button,
button.open-button {
  color: $button-preselect-blue;
  width: 250px;
}

button.open-button {
  border-right: 1px solid #f2f2f2;
  border-radius: 0 0 0 6px;
}

button.dismiss-button {
  border-radius: 0 0 6px 0;
}

.web-content-box {
  background-color: #FFFFFF;
  border-radius: 0 0 6px 6px;
  // jQuery sets display to visible
  display: none;
  width: 444px;
  padding: 8px 28px 0 28px;
  float: left;
  margin-bottom: 80px;
}

.web-emergency-title-background {
  padding: 22px 28px;
  border-radius: 6px 6px 0 0;
  margin-top: 14px;
}

.web-inline-image {
  height: 266px;
  margin: 10px 0 0 0;
  position: relative;
}

.web-inline-image img {
  border-radius: 4px;
  border: 0px solid transparent;
  top: 0;
  position: absolute;
  width: 444px;
}

// "Close button" dummied for preview, Jeroen will replace in iOS //
.web-news-open-button,
.web-news-close-button {
  background-size: 28px 28px;
  height: 28px;
  margin: 18px;
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
}

.web-news-close-button {
  background-image: url("../images/close_button.svg");
}

.web-news-open-button {
  background-image: url("../images/open_button.svg");
}

a.web-inline-link {
  border-radius: 4px;
  border-bottom: 4px solid rgba(45, 155, 224, 0.25);
  color: #666666;
  text-decoration: none;
}

////// Timline ////////////////////////////////

.emergency-timeline {
  width: 500px;
  min-height: 600px;
  background: #FFFFFF;
  border-radius: 6px;
  display: inline-block;
  margin: 0 80px;
}

///////////////////////////////////////////////

a:active {
  background: rgba(45, 155, 224, 0.25);
  border-radius: 4px;
  border-bottom: 0;
  padding: 0 0 2px 0;
}

p.web-body {
  margin: 0;
}

.web-emergency-story {
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 428px;
  padding: 0 44px 30px 28px;
}

.web-space {
  display: block;
  margin: 14px 0;
  content: " ";
}

.web-resource-link {
  background-color: #f2f2f2;
  border: 0px solid transparent;
  border-radius: 8px;
  float: left;
  height: 32px;
  margin: 24px 0;
  padding: 10px;
}

.web-resource-link:hover {
    background-color: rgba(45, 155, 224, 0.25);
}

.web-link{
  color: $button-preselect-blue;
}

p#web-switch-button-text {
  color: #2d9be0;
  display: inline-block;
  float: left;
  margin: 0 0 10px 0;
  position: relative;
  top: -4px;
}

img#web-switch {
  float: right;
  height: 22px;
  position: relative;
  top: -6px;
}

.web-resource-link img {
  float: left;
  height: 32px;
  line-height: 32px;
}

p.web-resource-link-text {
  display: inline-block;
  line-height: 32px;
  margin: 0;
  position: relative;
  left: 8px;
  padding-right: 18px;
}

.switch-button {
  height: 54px;
}

p#switch-button-text {
  font-size: 28px;
  float: left;
  margin: 0;
  line-height: 38px;
}

img#web-gradient {
  width: 500px;
  margin-left: -28px;
}

img#switch {
  margin: 0;
  width: 80px;
  height: 40px;
  float: right;
}

