@import 'styles';


////////////////////////////////////////

body {
  background-color: #f7f7f7;
  margin: 80px;
}

.ee-center {
  margin: 60px 80px 0;
}

// Background image 'styles' for News content. This will be different for "Events" and "Action Required." //
// These attributes take the image in the story, scale it up in the background, center it, blur and saturate //
.news-web-background-image-twox {
  //height: 1136px;
  //overflow: hidden;
  //position: absolute;
  //top: 0;
  //width: 640px;
  //z-index: -1;

  display: none;
}

.news-background-image-twox img {
  height: 1136px;
  width: auto;
  filter: saturate(200%) blur(40px);
  -webkit-filter: saturate(200%) blur(40px); /* Chrome, Safari, Opera */
}

img.random-map-image {
  position: absolute;
  left: 0;
  overflow: hidden;
  opacity: 0.18;
  top: 0;
}

//////////// Type Styles /////////////

h2.web-title-black {
  color: $text-color;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0 0 0 56px;
  width: 354px;
}

.web-day-date-container {
  display: flex;
  margin: 8px 0 0 58px;
}

.web-start-end-container {
  display: flex;
  margin: 0 0 0 58px;
}

h4.web-event-day,
h4.web-event-date,
h5.web-start-time,
h5.web-end-time {
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

h4.web-event-day {
  padding-right: 4px;
  text-transform: uppercase;
}

h5.web-start-time {
  padding-right: 4px;
}


/////Google Map/////////////////////////////////

#map {
  //height: 270px;
  border: 1px solid orange;
  border-radius: 6px;
  margin-bottom: 18px;
}

//////////////////////////////////////

.stack-image {
  width: 500px;
  position: relative;
  top: -20px;
}

.new-stack {
  background: #FFFFFF;
  border-radius: 6px;
  height: 148px;
  width: 500px;
  display: table;
  margin-bottom: 8px;
}

.web-container {
  width: 500px;
  //height: 118px;
  z-index: 200;
  display: inline-block;
}

.web-toggle-target {
  height: 92px;
  position: absolute;
  width: 100%;
  margin: -28px;
  z-index: 100;
}

.web-title-container,
.web-title-container-1,
.web-title-container-2 {
  border: 0px solid transparent;
  position: relative;
  //overflow: auto;
}

img#button-gradient {
  width: 500px;
  position: absolute;
}

button {
  background-color: #FFFFFF;
  border: none;
  width: 50%;
  float: left;
  height: 44px;
  outline: none;
}

button.dismiss-button,
button.dismiss-button-2,
button.dismiss-button-3,
button.open-button {
  color: $button-preselect-blue;
  width: 250px;
}

button.open-button {
  border-right: 1px solid #f2f2f2;
  border-radius: 0 0 0 6px;
}

button.dismiss-button {
  border-radius: 0 0 6px 0;
}

.web-content-box {
  background-color: #FFFFFF;
  border-radius: 0 0 6px 6px;
  // jQuery sets display to visible
  display: none;
  width: 444px;
  padding: 8px 28px 0 28px;
  float: left;
  margin-bottom: 80px;
}

.web-event-title-background {
  border-radius: 6px 6px 0 0;
  padding: 22px 28px 22px 20px;
}

.web-event-title-background {
  @include events-gradient (events-grad);
}

.web-inline-image {
  height: 266px;
  margin: 10px 0 0 0;
  position: relative;
}

.web-inline-image img {
  border-radius: 4px;
  border: 0px solid transparent;
  top: 0;
  position: absolute;
  width: 444px;
}

div#events-icon {
  background-image: url(../images/events_icon_wht.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  float: left;
  height: 50px;
  margin: 0 8px 0 0;
  position: relative;
  left: -4px;
  top: -4px;
  width: 50px;
  z-index: 10px;
}

// "Close button" dummied for preview, Jeroen will replace in iOS //
.web-news-open-button,
.web-news-close-button {
  background-size: 28px 28px;
  height: 28px;
  margin: 18px;
  position: absolute;
  right: 0;
  top: 4px;
  width: 28px;
  z-index: 200;
}

.web-news-close-button {
  background-image: url("../images/close_button.svg");
}

.web-news-open-button {
  background-image: url("../images/open_button.svg");
}

a.web-inline-link {
  border-radius: 4px;
  border-bottom: 4px solid rgba(45, 155, 224, 0.25);
  color: #666666;
  text-decoration: none;
}

////// Timline ////////////////////////////////

.timeline {
  width: 500px;
  min-height: 600px;
  background: #FFFFFF;
  border-radius: 6px;
  display: inline-block;
  margin: 0 80px;
}

///////////////////////////////////////////////

a:active {
  background: rgba(45, 155, 224, 0.25);
  border-radius: 4px;
  border-bottom: 0;
  padding: 0 0 2px 0;
}

p.web-body {
  margin: 0;
}

.web-story {
  color: #666666;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 444px;
  margin: 0 -56px 0 28px;
}

.web-space {
  display: block;
  margin: 14px 0;
  content: " ";
}

.web-resource-link {
  background-color: #f2f2f2;
  border: 0px solid transparent;
  border-radius: 8px;
  float: left;
  height: 32px;
  margin: 24px 0;
  padding: 10px;
}

.web-resource-link:hover {
    background-color: rgba(45, 155, 224, 0.25);
}

.web-link{
  color: $button-preselect-blue;
}

p#web-switch-button-text {
  color: #2d9be0;
  display: inline-block;
  float: left;
  margin: 0 0 10px 0;
  position: relative;
  top: -4px;
}

img#web-switch {
  float: right;
  height: 22px;
  position: relative;
  top: -6px;
}

.web-resource-link img {
  float: left;
  height: 32px;
  line-height: 32px;
}

p.web-resource-link-text {
  display: inline-block;
  line-height: 32px;
  margin: 0;
  position: relative;
  left: 8px;
  padding-right: 18px;
}

.switch-button {
  height: 54px;
}

p#switch-button-text {
  font-size: 28px;
  float: left;
  margin: 0;
  line-height: 38px;
}

img#web-gradient {
  width: 500px;
  margin-left: -28px;
}

img#switch {
  margin: 0;
  width: 80px;
  height: 40px;
  float: right;
}



//////////////// Prototype ///////////////////

.web-container-1,
.web-container-2,
.web-container-3 {
  width: 500px;
  //height: 118px;
  z-index: 200;
}

.web-container-1 {
  display: inline-block;
  position: relative;
}

.web-container-2 {
  display: none;
  position: relative;
}

.web-container-3 {
  display: none;
  position: relative;
}

.web-title-container-1,
.web-title-container-2,
.web-title-container-3 {
  overflow: hidden;
}

.web-title-container-1 {
  position: relative;
  height: 152px;
}

.web-title-container-2 {
  height: 152px;
}

.web-title-container-3 {
  height: 152px;
}

.web-news-open-button,
.web-news-close-button {
  background-size: 28px 28px;
  height: 28px;
  margin: 18px;
  position: relative;
  right: 0;
  top: 40px;
  width: 28px;
}

.web-action-close-button {
  background-image: url("../images/close_button.svg");
}

.web-action-open-button {
  background-image: url("../images/open_button.svg");
}

.web-event-title-background,
.web-title-background {
  height: 152px;
}

.timestamp {
  color: #094356;
  font-size: 12px;
  font-weight: 400;
}

ul {
  margin: 22px 0px;
}

ul li {
  position: relative;
  left: -24px;
}

li:before {
  content: '\00b7';
  font-size: 80px;
  line-height: 12px;
  float: left;
  position: relative;
  top: 2px;
  right: 2px;
}

li {
  color: #094356;
  list-style: none;
  margin: 12px 0;
  display: none;
}

div#solid-line {
  width: 2px;
  min-height: 600px;
  position: absolute;
  margin-left: 23px;
}
div#solid-line {
  @include line-gradient (line-grad);
}

li#unique-date-dummy-1 {
  height: 182px;
}

.empty-stack {
  height: 196px;
  background-color: #666666;
  width: 500px;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;
  top: 206px;
  margin-top: -206px;
}

p#stack-end-message {
  display: none;
  margin: 0;
  line-height: 158px;
  color: #FFFFFF;
  font-weight: 100;
  text-align: center;
  font-size: 34px;
}

