//general colors
$text-color: #383838;
$background-gray: #f2f2f2;
$background-blue: #00182D;
$page-title-gray: #f9f9f9;
$gray-blue: #528ca8;

$header-background: #0e415b;
$darkest-blue: #00182d;
$benefit-tile-background: #0e3147;
$select-respond-blue: #e2f6ff;
$button-background: #00182d;

$highlight-data-blue: #9fc2d3;

//action colors
$button-static-blue: #176890;
$button-preselect-blue: #2d9be0;
$button-hover-cyan: #4ea8de;
$alert-green: #4fd816;
$mouse-down-highlight: #e1edef;

